@import "~normalize.css";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Open+Sans:wght@600&family=Paprika&display=swap");

*,
*:before,
*:after {
	box-sizing: inherit;
	text-decoration: none;
}

html {
	box-sizing: border-box;
}

body {
	background: $main;
	color: #fff;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	width: 360px;
	height: 640px;
	border: 1px solid red;
	position: relative;
}

.header {
	position: absolute;
	left: 42px;
	top: 20px;
	width: 72px;
	height: 72px;
	font-size: 64px;
	font-family: $jap;
	margin: 0;
	padding: 0;
}
.menu {
	position: absolute;
	right: 32px;
	top: 32px;
	width: 60px;
	height: 50px;
	margin: 0;
	padding: 0;
}
.line {
	display: block;
	border: solid 5px;
	margin: 0;
	&--bright {
		border-color: $strike;
		border-radius: 4px;
	}
	&--blank {
		border-color: $main;
	}
}

.glass {
	display: block;
	position: absolute;
	top: 122px;
	left: 74px;
	width: 212px;
	height: 312px;
}
.counter {
	color: $text;
	position: absolute;
	margin: 0 auto;
	left: 34px;
	top: 104px;
	width: 150px;
	height: 92px;
	font-family: $paprika;
	font-size: 96px;
	text-align: center;
}
.buttons {
	position: absolute;
	bottom: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
}

.button {
	border: 1px $text solid;
	border-radius: 4px;
	color: $text;
	background: $strike;
	display: block;
	font-family: $os;
	padding: 8px 16px;
	margin: 20px auto;
}
